.portfolio__card {
  background-position: center;
  background-size: cover;
  height: 200px;
  width: 100%;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transition: all 0.2s;
  cursor: pointer;
}
.portfolio__card:hover {
  background-position: center;
  background-size: cover;
  height: 200px;
  width: 100%;
  position: relative;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
.portfolio__card a {
  position: absolute;
  right: 20px;
  bottom: 20px;

  border-radius: 10px;
  height: 30px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-decoration: none;
}
.portfolio__card a:hover {
  background-color: rgba(255, 255, 255, 0.9);
}
@media screen and (min-width: 768px) {
  .portfolio__cards-wrapper {
    flex-direction: row;
    align-items: center;
    row-gap: 0px;
    column-gap: 50px;
    padding: 0 50px;
  }
}
