.container {
  padding-top: 50px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

.profile__image {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 5px solid lightgray;
}

.profile__name {
  font-size: 24px;
  font-weight: 500;
}

.about {
  text-align: center;
  background-color: lightgray;
  padding: 50px 0;
  margin: 50px 0 0;
}
.about__title {
  text-transform: capitalize;
  margin-bottom: 30px;
}

.about p {
  margin: 20px 0;
  padding: 0 20px;
}

.portfolio {
  text-align: center;
  background-color: white;
  padding: 50px 0 100px;
}
.portfolio__description {
  margin: 30px 0 50px;
  padding: 0 20px;
}
.portfolio__cards-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  padding: 0 20px;
}

@media screen and (min-width: 768px) {
  .portfolio__cards-wrapper {
    flex-direction: row;
    align-items: center;
    row-gap: 0px;
    column-gap: 50px;
    padding: 0 50px;
  }
  .portfolio__description {
    padding: 0px;
  }
  .about p {
    padding: 0px;
  }
}
